html,h1,body,div {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Rubik', sans-serif;
	width: 80%;
	margin: 0 auto;
}

.main-container {
	text-align: center;
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.main-container h1 {
	padding-top: 15px;
}