@import url('https://fonts.googleapis.com/css?family=Nunito');

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 15s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: #fff;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

html,
body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

.root {
    height: 100%;
    width: 100%;
}

.site-navbar {
    width: 100%;
    height: 10%;
    /* background-image:
        linear-gradient(to right,
        #28BBD8, #42E0DC, #95F2BC); */
    background: #000;
    min-height: 60px;
}

.site-logo {
    width: 25%;
    height: 100%;
    float: right;
}

.site-logo-img {
    width: 100%;
    height: 100%;
}

.trigram {
    display: inline-block;
    width: 10%;
    /* float: left; */
}

.aside-bar {
    width: 100%;
}

.menu-items {
    /* width: 40%; */
    height: 100%;
    list-style-type: none;
    margin: 0;
    /* padding: 0; */
    /* float: left; */
    text-align: center;
    border-bottom: 3px solid black;
    /*border: #000 solid 1px;*/

}

.menu-items li {
    /* display: inline-block; */
    padding: 5px 10px;
    font-size: 16px;

}

.menu-items {
    /* padding-left: 46%; */
    color: red;
    margin:0 auto;
}

.show-hide {
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
    background-color: #fff;
    /* height: 100%; */
    border-right: 2px solid #000;
    border-width: 5px;
    z-index: 10;
}

.trigram-icon {
    font-size: 35px;
    z-index: 50;
    padding: 13px 15px;
    /* width: 25%; */
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.trigram-icon:before {
    content: '\2630';
}

.trigram-icon.true:before {
    content: '\2716';
}

.true {
    position: absolute;
    animation: slide-in 2s forwards;
    color: #000;
    
}
.show-hide .true{
    border-bottom: 5px solid black;
}

@keyframes slide-in {
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.menu-items li a {
    text-decoration: none;
    color: #000;
}



.site-hero {
    width: 100%;
    height: 100%;
    /* display: flex; */
    font-size: 25px;
    /*vertical-align: middle;*/
    justify-content: center;
    /*text-align: center;*/
    /*flex-direction: column;*/
    height: 90%;
    /* background: #7159E0; */
    position: relative;
    color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-box-shadow: 0px 75px 140px -38px rgba(219,215,219,1);
-moz-box-shadow: 0px 75px 140px -38px rgba(219,215,219,1);
box-shadow: 0px 75px 140px -38px rgba(219,215,219,1); */
}

.site-hero:after {
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(3deg);    
    /* background-color: #CFE4E3; */
}

.hero-welcome {
    /*display: flex;
    font-size: 100px;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80%;*/
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    animation: blur-ani forwards 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom: 15%;
    left: 15%;
    font-size: 40px;
}

.hero-pipe {
    /*display: flex;
    font-size: 100px;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80%;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 120px;
    animation: ani-blink infinite .40s linear;
}

.grouped-svg {
    /*transform: translateY(150px);*/
    animation: up-down 15s ease infinite;
    /*animation-delay: 3s;*/
}

.svg-line {
    /* display: flex; */
    width: 20%
}

.bigger-circle {
    animation: fade-in-fade-out infinite 2s linear;
}

@keyframes fade-in-fade-out {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .6;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ani-blink {
    0% {
        opacity: 0;
    }

    /*50% { opacity: 1; }*/
    100% {
        opacity: 1;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(-150px);
    }

    20% {
        transform: translateY(-75px);
    }

    40% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-25px);
    }

    80% {
        transform: translateY(-75px);
    }

    100% {
        transform: translateY(-150px);
    }
}

@keyframes blur-ani {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* .technologies{
    height:25%;
    clear: both;
} */
.chart svg{
    /* height:100%; */
    padding:0;
}
.label{
    font-size:12px;
}

.technologies{
    text-align: center;
    position: relative;
 
    width: 100%;
}
.tech-header{
    font-size:25px;
    font-weight: bolder;
    margin: 35px auto;
}
.about-me{
    text-align: center;
    position: relative;
    
    width: 100%;
    /* height: 100%; */
}
.about-me-wrapper{
    width:90%;
    /* padding: 10px; */
    /* border:1px solid #000; */
    margin: 0 auto;
    
    position: relative;
}
.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }
.about-me-header{
    font-size:25px;
    font-weight: bolder;
    margin: 35px auto;
}
.about-me img{
    float: right;
    width: 25%;
    opacity:0.5;
    -webkit-box-shadow: 2px 2px 50px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 50px -5px rgba(53, 51, 51, 0.75);
    box-shadow: 2px 2px 50px -5px rgba(53, 51, 51, 0.75);
}
.description{
    /* float: left; */
    width: 75%;
    /* display: inline-block; */
    position: absolute;
    left: 5%;
    top: 20%;
    text-align: right;
    font-size: 10px;
    font-weight: bold;
    z-index: 10;
}

.timeline-wrapper{
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 25px 0;
}
.timeline-wrapper:before{
    content:"";
    width:5px;
    height:93%;
    background: #000;
    position: absolute;
}
.bar-container{
    font-size: 10px;
    /* padding: 10px 0; */
    display: block;
    border: 1px solid black;
}
.bar-container:before{
    content: "";
    width:10px;
    height:10px;
    border-radius: 50%;
    position: absolute;
    background: #9cd8c6;
}
/* .bar-container:hover{
    transform: scale(1.1);
} */
.bar-container:nth-child(odd){   
    margin: 25px 55% 25px 0;
}
.bar-container:nth-child(odd)::before{
    left:48.5%;
    border: 5px solid #6986d8;
}
.bar-container:nth-child(even)::before{
    right:46.5%;
    border: 5px solid #6986d8;
}
.bar-container:nth-child(even){
    margin: 25px 0 25px 55%;
}
.contact-me{
    width:90%;
    margin:0 auto;
    text-align: center;
    position: relative;
}
.section-header{
    font-size: 25px;
    font-weight: bolder;
    margin: 5% auto 15px auto;
}
.section-header +span{
    width: 25%;
    position: absolute;
    background: #fdd835;
    height: 10px;
    left: 30%;
    top: 35px;
    border-bottom: 2px solid #000;
}
.social{
    display: inline-block;
    width:32px;
    padding: 10px;
    border-radius: 50%;
    height:32px;
    transition: all .2s ease-in-out;
    margin: 10px;
}
.social:hover{
    transform: scale(1.25);
}
.social img{
    width:25px;
    height:25px;
}
.fb:hover{
    background-color: #4e609a;
}
.twitter:hover{
    background-color: #6eabeb;
}
.instagram:hover{
    background: linear-gradient(to top right, #f3da58, #c83a35, #aa44ab);
}
.github:hover{
    background-color: #5b2a77;
}
.linkedin:hover{
    background-color: #4973b0;
}
.hero-welcome-sp{
    color: #49c5b6;
    background: linear-gradient(45deg, #23D5AB, #23A6D5,  #E73C7E, #EE7752);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: GradientReverse 15s ease infinite;
	-moz-animation: GradientReverse 15s ease infinite;
	animation: GradientReverse 15s ease infinite;
    background-size: 400% 400%;
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes GradientReverse {
	0% {
		background-position: 100% 50%
	}
	50% {
		background-position: 0% 50%
	}
	100% {
		background-position: 100% 50%
	}
}

/* .hero-welcome-sp:after{
    content:"Welcome.";
    position: absolute;
    left:5px;
    top:7px;
    color:#ffffff;
} */

.time-desc{
    padding: 5px;
}

.time-desc:hover{
    transform: scale(1.05);
}

.year{
    padding: 5px 0;
    /* border-bottom: 1px solid black; */
    background: black;
    color: white;
}

.email-me{
    margin-top: 10px; 
    padding: 10px;
    display: inline-flex;
    background: #cd5c5c;
    text-decoration: none;
    color: #000;
    border: 1px solid black;
}

.email-me > img {
    padding-right: 10px;
}

.email-me:hover{
    box-shadow: inset 0 0 0 2px #53a7ea;
}
.availability{
    margin: 15px;
}

@media only screen 
  and (min-width: 768px)  {
    .hero-welcome{
        font-size: 45px;
    }
    .tech-header{
        font-size: 45px;
    }
    .about-me-header{
        font-size: 45px;
    }
    .description{
        font-size: 20px;
    }
    .menu-items li {
        padding: 15px 10px;
        font-size: 24px;
    
    }

    .site-logo {
        width: 10%;
    }
    .bar-container:nth-child(odd)::before{
        left:49%;
    }
    .bar-container:nth-child(even)::before{
        right:48%;
    }
    .bar-container{
        font-size: 25px;
    }
    .section-header{
        font-size: 45px;
    }
    .section-header +span{
        top: 70px;
    }
    .social{
        margin: 35px;
    }
}

@media only screen and (min-width: 1025px) {
    .hero-welcome {
        font-size: 100px;
    }
    .tech-header{
        font-size: 60px;
    }
    .about-me-header{
        font-size: 60px;
    }
    .description{
        font-size: 25px;
        /* height:100%; */
        /* padding:25%; */
    }
    .menu-items li {
        /* display: inline-block; */
        padding: 15px 10px;
        font-size: 24px;
    
    }
    .bar-container:nth-child(odd)::before{
        left:49.5%;
    }
    .bar-container:nth-child(even)::before{
        right:49%;
    }
    .bar-container{
        font-size: 25px;
    }
    .contact-me{
        width:100%;
    }
    .section-header{
        font-size: 60px;
    }
    
}