.portfolio-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.portfolio-container > span {
    display: inline-block;
    margin-bottom: 20px;
}

.portfolio-container .heading {
    margin: 20px 0 20px;
    font-size: 20px;
    font-weight: bolder;
}

@media only screen and (min-width: 768px) {
    .portfolio-container .heading {
        font-size: 30px;
    }
    .portfolio-container .heading {
        margin: 40px 0 20px;
    }
    .portfolio-container {
        width: 60%;
    }
}

.portfolio-button {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    font-size: 20px;
    background: none;
    position: relative;
    outline: none;
    border:none;
    transition: box-shadow .2s ease-in-out;
    font-family: inherit;
    background:linear-gradient( to top right,#9ccc65 0%, #26c6da 50%);
    box-shadow: 1px 1px 20px #26c6da;
    cursor: pointer;
}

.portfolio-button:active {
    box-shadow: 0px 0px 50px #26c6da;
    top: 3px;
}
